body {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.w100-important {
  width: 100% !important;
}

.left {
  float: left;
}

.inline-block {
  display: inline-block;
}

.right {
  float: right;
}

.pt-0 {
  padding-top: 0 !important;
}

.pb-2 {
  padding-bottom: 2px !important;
}

.pt-2 {
  padding-top: 2px !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.no-box-shadow {
  box-shadow: none !important;
}

.font-1em {
  font-size: 1em !important;
}

.font-0_75em {
  font-size: 0.75em !important;
}