.no-draggable-area {
  cursor: auto;
}

.editable-name {
  width: 197px;
  display: inline-block;
}

/* Columns */

.drop-preview {
  background-color: rgba(150, 150, 200, 0.1);
  border: 1px dashed #abc;
  margin: 5px;
}

.column-drop-preview {
  background-color: rgba(233, 150, 200, 0.1);
  border: 1px dashed #abc;
  margin: 5px;
}

.draggable-link-container {
  padding: 10px;
}

.column-drag-handle {
  cursor: grab;
  padding: 5px;
}

.column-drag-class {
  cursor: grabbing;
  transform: scale(1.15);
  transition: transform 0.18s ease;
}

/* Column rows */
.row-ghost {
  cursor: grabbing !important;
  transition: transform 0.18s ease;
  transform: scale(1.05);
  background-color: rgb(212, 212, 212) !important;
}

.row-ghost-drop {
  transition: transform 0.18s ease-in-out;
  transform: scale(1)
}

.row-drag-handle {
  cursor: grab;
  color: black;
}

.row-editable {
  color: black;
  cursor: auto;
  margin: 5px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 1px 1px rgba(0,0,0,0.24);
  background-color: rgb(243, 243, 243);
  padding: 5px;
  text-align: center;
  font-size: 1.2em;
}

.row-content {
  cursor: pointer;
  margin: 5px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 1px 1px rgba(0,0,0,0.24);
  background-color: rgb(243, 243, 243);
  padding: 2px 10px 5px 10px;
  text-align: center;
  font-size: 1.2em;
}

.row-content .icon {
  margin: 5 0 !important;
  padding: 0 !important;
}

.row-content .icon:hover {
  color: rgb(82, 82, 82) !important;
}

.row-content .icon:active {
  color: black !important;
}

.row-content:hover {
  background-color: rgb(212, 212, 212);
  color: #07c;
  text-decoration: underline;
}

.button-icon {
  cursor: pointer;
}

.button-icon:hover {
  color: #d01919;
}

.button:active {
  color: #b21e1e;
}